@import "../../resources/colors"

body, html
  margin 0

NavHeight = 50px
nav
  height NavHeight
  width 100vw
  background Base
  display flex
  justify-content space-between
  align-items center
  div
    display flex
    height NavHeight
    align-items center
    h2, a
      color white
      font-family sans-serif
      font-weight 100
    a
      padding 0 15px
      font-size 11pt
    h2
      padding 0 2vw
    input
      background-color rgba(255, 255, 255, 0.45)
      height 20px
      max-width 300px
      width 30vw
      border none
      color white
      font-size 12pt
      padding 5px
