@import "../../resources/colors"

body, html
  margin 0

NavHeight = 50px

#app
  display grid
  grid-template "nav nav" "filter content"
  grid-template-columns 200px 1fr
  grid-template-rows NavHeight 1fr
  height 100vh

nav
  height NavHeight
  grid-area nav
  background Base
  display flex
  justify-content space-between
  align-items center
  div
    display flex
    height NavHeight
    align-items center
    h2, a
      color white
      font-family sans-serif
      font-weight 100
    a
      padding 0 15px
      font-size 11pt
    h2
      padding 0 2vw
    input
      background-color rgba(255, 255, 255, 0.45)
      height 20px
      max-width 300px
      width 30vw
      border none
      color white
      font-size 12pt
      padding 5px

#filter
  grid-area filter
  h2
    width 100%
    text-align center
    font-family sans-serif
  input
    display block
    margin 10px auto
    padding 5px
    width 80%

#content
  grid-area content
  justify-content center
  background #F1F1F1
  display flex
  flex-wrap wrap
  padding 10px
  overflow scroll

.box
  background white
  font-family sans-serif
  width 200px
  max-height 220px
  margin 20px
  h3
    text-align center
  &>img
    width 100px
    display block
    margin auto
  .clickRow
    display flex
    align-items center
    justify-content space-between
    width 96%
    margin auto
    &>div
      display flex
      align-items center
      color rgba(0,0,0,0.5)
      p
        padding 0 2px
        margin 0
  button
    background transparent
    border none
    cursor pointer
    &:focus
      outline none
  i
    fill rgba(0,0,0,0.5)
  .author
    width 100%
    text-align center
    padding 10px 0
    margin 0
    background #2F2F2F
    color white
